<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Error 404</title>
        <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
        <link rel="stylesheet" href="{{ asset('css/bootstrap-theme.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/bootstrap-reboot.min.css') }}">
    </head>
    <body>
        <h2>Oops! An Error Occurred</h2>
        <h3>The server returned a "404 Not Found".</h3>
        <p>
            Something is broken. Please let us know what you were doing when this error occurred.
            We will fix it as soon as possible. Sorry for any inconvenience caused.
        </p>
    </body>
</html>
