{% extends 'base.html.twig' %}

{% block title %}
    Page {{ number }}
{% endblock %}

{% block body %}
    {{ parent() }}
    <h1>This is page {{ number }}</h1>
{% endblock %}

{% block menu %}
{% endblock %}