{% extends 'base.html.twig' %}

{% block title %}
    Session: {{ sessionData }}
{% endblock %}


{% block body %}
    {{ parent() }}
    <h3>$_SESSION['username'] = {{ sessionData }}</h3>
{% endblock %}
