<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/bootstrcap.css') }}">
            <link rel="stylesheet" href="{{ asset('css/bootstrap-grid.css') }}">
            <link rel="stylesheet" href="{{ asset('css/bootstrap-reboot.css') }}">
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
